/* NOTES
    Class: can label a div with a class (syntax: .classname)
    Selector: can apply to things like body/headers (syntax: selector_name)
    Id Selector: good for only using things once (syntax: #selector_name)
*/

/* styling the body */
body {
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* SYNTAX: selector: pseudo_class */
body:hover {
    background-color: lightblue;
}

/* styling different headers */
h1, h2, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the container */
.container {
    margin: 0 auto; 
    width: 1000px;
    background-color: white;
    padding: 20px
}

/* stlying links */
a {
    color: red
}

a:visited {
    color: purple;
}

/* styling the first tag in the body ---- comeback to this */
body:first-child {
    color: lightcoral;
}

/* styling links that haven't been visited */
a:link {
    color: lightseagreen;

}

/* styling links while they're being pressed/active */
a:active {
    background-color: lightseagreen;
}

/* defining my own classes + styling them */
a.special {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.special {
    font-size: 25px;
}

/* implementing a spell and grammar check... note you have to press on the text to see what happens */
::grammar-error{
    text-decoration: underline blue;
}

::spelling-error{
    text-decoration: line-through red;
}