/* STYLING NAVBAR */
/* #navbar a will style the links in the nav bar table */
#nav_bar a {
    text-decoration: none;
    color: black;
}

/* making the text for hyperlinks change color when hovered over */
#nav_bar a:hover {
    color: lightcoral;
}   

/* making the navbar stay at the top of the screen */
#nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 60px;
}

/* STYLING THE PHOTO GALLERY */
.gallery_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery_column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .gallery_column {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .gallery_column {
    flex: 100%;
    max-width: 100%;
  }
}

.gallery_column img {
  margin-top: 8px;
  vertical-align: middle;
}

.gallery_item:hover {
  border: 1px solid #777;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* STYLING FOOTER */
footer {
  position: fixed; /* footer's always on screen */
  bottom: 0; /* at the bottom of the page */
  width: 100%;
  background-color: #e9e9e9;
  text-align: center;
  padding: 3px;
  z-index: 1000; /* stays above other content */
}

/* STYLING HOMEPAGE CONTENT (CENTERING + LESS WIDE) */
.left_box, .right_box{
  background-color: #cfe2ff;
  width: 275px;
  height: 100vh; /* https://www.w3schools.com/cssref/css_units.php */
  position: fixed; 
  top: 0; 
  z-index: 1;; /* https://www.w3schools.com/cssref/pr_pos_z-index.php */
}

.left_box{
  left: 0;
}

.right_box{
  right: 0
}

.content{
  max-width: calc(100% - 550px);
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

/* CONTAINTER FOR CLEO'S INSTAGRAM AND GOOGLE MAPS */
.ig_maps_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: lightgray;
}

/* CENTERING CLEO'S INSTAGRAM ACCOUNT */
.cleo_ig{
  margin: 0;
  width: 48%;
}

/* CENTERING GOOGLE MAPS */
.google_maps{
  margin: 0;
  width: 48%;
}

/* STYLING THE CONTAINER WITH THE JS CLEO QUIZ */
.cleo_quiz {
  max-width: calc(100% - 550px);
  margin: 0 auto;
  padding: 20px;
  flex: none;
  display: block;
}

/* STYLING THE MILESTONES CONTAINER */
.milestones {
  max-width: calc(100% - 500px);
  margin: 0 auto;
  background-color: rgb(224, 239, 255);
  padding: 10px;
  display: flex; /* https://www.w3schools.com/css/css3_flexbox_container.asp */
  flex-direction: row;
  align-items: center;
  gap: -100px;
  align-content: space-evenly;
  justify-content: center;
  border-radius: 15px;
}

.left_table {
  text-align: left;
  flex: 4;
  margin-left: -220px;
  margin-right: -170px;
}

.image_right {
  flex: 1;
  border: 2px solid lightsteelblue;
  border-radius: 10px;
  margin-right: 40px;
  margin-left: -50px;
  padding: 20px;
  background-color: lightsteelblue;
}

/* STYLING OVERVIEW INFO ON THE GET TO KNOW CLEO PAGE */
.overview_info {
  max-width: calc(100% - 500px);
  background-color: lightsteelblue;
  border-radius: 15px;
  margin: 0 auto;
  padding: 15px
}

/* PICKING A FONT symtax: * selects all - https://www.w3schools.com/css/css_selectors.asp */
* {
  font-family:'Times New Roman', Times, serif
}