/* setting the background color */
body {
    background-color: lightblue;
}

.container {
    display: flex;
    gap: 100px; 
    margin: 200px 500px;
}

/* styling the div called box */
.box {
    background-color: lightsalmon;
    width: 200px;
    height: 200px;

    /* defining the animation of the box */
    animation-name: square-to-circle;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* actually playing the animation */
@keyframes square-to-circle {
    /* at key frame 0 (where the box starts)... */
    0% {
        border-radius: 0;
        background-color: darksalmon;
        transform: rotate(0deg);
    }

    /* at key frame 25%... */
    25% {
        /* rounding the top leftcorner */
        border-radius: 50% 0 0 0;
        background-color: salmon;
        transform: rotate(-45deg);
    }

    /* at key frame 50%... */
    50% {
        border-radius: 50% 50% 0 0;
        background-color: lightcoral;
        transform: rotate(-90deg);
    }

    /* at key frame 75%... */
    75% {
        border-radius: 50% 50% 50% 0;
        background-color: lightpink;
        transform: rotate(-135deg);
    }

    /* at key frame 100% */
    100% {
        border-radius: 50%;
        background-color: lightsalmon;
        transform: rotate(-180deg);
    }
}

/* styling the div called box2 */
.box2 {
    background-color: lavender;
    width: 200px;
    height: 200px;
    animation-name: opposite-square-to-circle;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* actually playing the animation */
@keyframes opposite-square-to-circle {
    0% {
        border-radius: 0;
        background-color: plum;
        transform: rotate(0deg);
    }
    25% {
        border-radius: 0 0 0 50%;
        background-color: lavenderblush;
        transform: rotate(45deg);
    }
    50% {
        border-radius: 0 0 50% 50%;
        background-color: violet;
        transform: rotate(90deg);
    }

    /* at key frame 75%... */
    75% {
        border-radius: 0 50% 50% 50%;
        background-color: thistle;
        transform: rotate(135deg);
    }

    /* at key frame 100% */
    100% {
        border-radius: 50%;
        background-color: plum;
        transform: rotate(180deg);
    }
}